name: Build Mesen

on: workflow_dispatch

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  linux:
    strategy:
      matrix:
        compiler: [clang_aot]
        platform: [
          {os: ubuntu-24.04, path: x64}
        ]
        include:
          - compiler: clang_aot
            make_flags: "USE_AOT=true"
      fail-fast: false
    runs-on: ${{ matrix.platform.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Install dependencies
        run: |
          sudo apt-get update -qy
          sudo apt-get install -qy libsdl2-dev ccache # The compilers are already installed on GitHub's runners.

      - name: Setup CCache
        uses: ./.github/actions/setup-ccache-action
       
      - name: Write commit SHA1 to file
        uses: ./.github/actions/build-sha1-action
        
      # stderr is not detected as a TTY, so diagnostics are by default printed without colours;
      # forcing colours makes the log a little nicer to read.
      - name: Build Mesen
        run: |
          make -j$(nproc) -O ${{ matrix.make_flags }} LTO=true STATICLINK=true SYSTEM_LIBEVDEV=false

      - name: Upload Mesen
        uses: actions/upload-artifact@v4
        with:
          name: Mesen (Linux - ${{ matrix.platform.os }} - ${{ matrix.compiler }})
          path: bin/linux-${{ matrix.platform.path }}/Release/linux-${{ matrix.platform.path }}/publish/Mesen
