name: Build Mesen

on: workflow_dispatch

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1

jobs:
  appimage:
    strategy:
      matrix:
        compiler: [clang_appimage]
        platform: [
          {os: ubuntu-22.04, name: x64, script: Linux/appimage/appimage.sh}
        ]
    runs-on: ${{ matrix.platform.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Install dependencies
        run: |
          sudo apt-get update -qy
          sudo apt-get install -qy libsdl2-dev libfuse2 ccache # The compilers are already installed on GitHub's runners.

      - name: Setup CCache
        uses: ./.github/actions/setup-ccache-action

      - name: Write commit SHA1 to file
        uses: ./.github/actions/build-sha1-action

      - name: Build Mesen (AppImage)
        run: |
          ${{ matrix.platform.script }}
      - name: Upload Mesen (AppImage)
        uses: actions/upload-artifact@v4
        with:
          name: Mesen (Linux ${{ matrix.platform.name }} - AppImage)
          path: Mesen.AppImage
